body {
  background-color: #fff;
  color: #000;
  font-family: courier, monospace, courier new, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 50px;
}

p, ol, ul, td {
  font-family: courier, monospace, courier new, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  font-size: 11px;
}

a {
  color: #16302B;

  &:visited {
    color: #312F2F;
  }

  &:hover {
    color: #312F2F;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.navbar-link {
  padding-right: 8px;
  color: #000;
    &:hover {
    color: #312F2F;
  }
}

#notice {
  color: #7B2D26;
  padding-left: 2px;
  padding-top: 10px;

}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.navbar.navbar-trans.navbar-default.navbar-fixed-top{
  background-color: #E0E1E9;
}

.navbar-fixed-top {
  padding-right: 0px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #E0E1E9;
 }

.text {
  max-width: 12px;
}

.search-field {
  height: 34px;
  padding-top: 10px;
  padding-left: 8px;
}


#search {
    width: 160px;
}

.form {
  padding-top: 0px;
}

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.devise-body {
  padding-left: 8px;
}

.devise-header {
  padding-left: 8px;
}
